<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--1.springmvc配置-->
    <!--1.1 扫描Controller-->
    <context:component-scan base-package="cn.itcast.web"/>
    <!--2.mvc注解驱动-->
    <mvc:annotation-driven/>

    <!--2.dubbo消费配置-->
    <!--2.1 dubbo服务名称-->
    <dubbo:application name="export_web_portal"/>
    <!--2.2 zookeeper注册地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--2.3 扫描@Reference注解所在包-->
    <dubbo:annotation package="cn.itcast.web"/>
</beans>