<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1.创建连接工厂-->
    <rabbit:connection-factory
        id="connectionFactory"
        host="192.168.66.133"
        port="5672"
        virtual-host="/itcast"
        username="eric"
        password="123"
    />

    <!--2.配置admin：管理连接与频道-->
    <rabbit:admin connection-factory="connectionFactory"/>


    <!-- 3.扫描监听程序，创建对象-->
    <context:component-scan base-package="cn.itcast.listener"/>

    <!-- 4.配置消息监听容器-->
    <rabbit:listener-container connection-factory="connectionFactory">
        <!--配置监听程序-->
        <!--
          ref:引用监听程序
          queue-names： 需要监听的队列名称列表
        -->
        <rabbit:listener ref="contractEmailListener" queue-names="contractQueue"/>
    </rabbit:listener-container>

</beans>